<!-- templates/home.html -->
{% extends '_base.html' %}
{% load static %}

{% block title %}Home{% endblock title %}

{% block content %}
    <h1> Homepage</h1>
    <img class="bookcover"  alt="djangoforprofessionals" src="{% static 'image/djangoforprofessionals.jpg'%}">
    {% if user.is_authenticated %}
        Hi {{ user.email }}!
        <!-- With logout must use 'post' method! -->
        <!-- <form action="{% url 'account_logout' %}" method="post">
            {% csrf_token %}
            <button type="submit">Logout</button>
        </form> -->
        <p><a href="{% url 'account_logout' %}">Log Out</a></p>
    {% else %}
        <p>You are not logged in</p>
        <!-- URL name auto refer to URL path -->
        <a href="{% url 'account_login' %}">Log In</a> 
        <a href="{% url 'account_signup' %}">Sign Up</a>
    {% endif %}
{% endblock content %}